<header>
	<p id="logo">
		&lt; LE MONDE DU DEV &sol;&gt;
	</p>
	<nav>
		<ul>
			<li><a class='last'href="{{path('app_last_article')}}">Derniers Articles</a></li>
			<li><a class='top'href="{{path('app_top')}}">Top Articles</a></li>
			<li><a class='categories'href="{{path('app_categorie')}}">Catégories</a></li>
		</ul>
	</nav>
	{% if app.user %}

    <a href="{%if is_granted('ROLE_ADMIN') %}{{path('app_dashboard_admin')}}{%elseif is_granted('ROLE_USER')%}""{%endif%}">
		<svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewbox="0 0 35 35" fill="none">
			<path d="M17.5001 18.1047C16.2176 18.1061 14.9635 17.7271 13.8965 17.0156C12.8295 16.3041 11.9975 15.2921 11.5058 14.1076C11.014 12.9232 10.8846 11.6195 11.134 10.3615C11.3833 9.10346 12.0002 7.94767 12.9065 7.04033C13.8129 6.13299 14.968 5.51486 16.2257 5.26415C17.4835 5.01344 18.7873 5.14141 19.9723 5.63187C21.1573 6.12233 22.1702 6.95325 22.8828 8.01949C23.5955 9.08574 23.9759 10.3394 23.9759 11.6219C23.974 13.3394 23.2914 14.9862 22.0775 16.2014C20.8637 17.4165 19.2177 18.101 17.5001 18.1047ZM17.5001 7.25547C16.6345 7.25408 15.788 7.50958 15.0677 7.9896C14.3474 8.46962 13.7858 9.15259 13.4539 9.95202C13.122 10.7514 13.0348 11.6314 13.2033 12.4804C13.3719 13.3294 13.7885 14.1093 14.4006 14.7214C15.0126 15.3335 15.7926 15.7501 16.6416 15.9187C17.4906 16.0872 18.3705 16 19.17 15.6681C19.9694 15.3362 20.6524 14.7746 21.1324 14.0543C21.6124 13.334 21.8679 12.4875 21.8665 11.6219C21.8665 10.4638 21.4065 9.35323 20.5876 8.53436C19.7688 7.7155 18.6581 7.25547 17.5001 7.25547Z" fill="#2CB67D"/>
			<path d="M17.5 34.825C13.6189 34.8214 9.85092 33.5167 6.79849 31.1195C6.68446 31.0291 6.5901 30.9164 6.52119 30.7882C6.45227 30.6601 6.41025 30.5192 6.39771 30.3742C6.39771 30.2617 6.39771 30.1563 6.39771 30.0438C6.39771 28.5849 6.68506 27.1402 7.24336 25.7924C7.80165 24.4445 8.61997 23.2198 9.65157 22.1882C10.6832 21.1566 11.9079 20.3383 13.2557 19.78C14.6036 19.2217 16.0482 18.9344 17.5071 18.9344C18.966 18.9344 20.4106 19.2217 21.7585 19.78C23.1063 20.3383 24.331 21.1566 25.3626 22.1882C26.3942 23.2198 27.2125 24.4445 27.7708 25.7924C28.3291 27.1402 28.6165 28.5849 28.6165 30.0438C28.6165 30.1563 28.6165 30.2617 28.6165 30.3742C28.6039 30.5192 28.5619 30.6601 28.493 30.7882C28.4241 30.9164 28.3297 31.0291 28.2157 31.1195C25.1595 33.5197 21.3861 34.8245 17.5 34.825ZM8.50708 29.7695C11.115 31.6831 14.2654 32.7149 17.5 32.7149C20.7347 32.7149 23.8851 31.6831 26.493 29.7695C26.4011 27.446 25.4134 25.2482 23.737 23.6367C22.0605 22.0253 19.8254 21.1252 17.5 21.1252C15.1747 21.1252 12.9396 22.0253 11.2631 23.6367C9.58665 25.2482 8.59898 27.446 8.50708 29.7695Z" fill="#2CB67D"/>
			<path d="M17.5 34.825C13.401 34.8271 9.43388 33.3764 6.30321 30.7305C3.17254 28.0846 1.08095 24.4148 0.399887 20.3727C-0.281175 16.3307 0.492377 12.1781 2.58316 8.65241C4.67395 5.12672 7.94665 2.45614 11.82 1.11497C15.6934 -0.226215 19.9168 -0.151188 23.7401 1.32672C27.5634 2.80463 30.7392 5.58976 32.7034 9.18749C34.6677 12.7852 35.2932 16.9627 34.4691 20.978C33.6449 24.9933 31.4242 28.5865 28.2016 31.1195C25.1491 33.5167 21.3812 34.8214 17.5 34.825ZM17.5 2.28439C14.337 2.28453 11.2528 3.27084 8.67665 5.106C6.1005 6.94116 4.16062 9.53387 3.12704 12.5232C2.09346 15.5125 2.01762 18.7497 2.91008 21.7842C3.80253 24.8186 5.61887 27.4993 8.10625 29.4531C10.3503 31.2143 13.0443 32.3091 15.8807 32.6127C18.7172 32.9163 21.5818 32.4164 24.1478 31.1701C26.7137 29.9237 28.8777 27.9812 30.3926 25.5641C31.9076 23.1469 32.7125 20.3526 32.7156 17.5C32.71 13.4663 31.1052 9.59938 28.2529 6.7471C25.4006 3.89483 21.5337 2.28997 17.5 2.28439Z" fill="#2CB67D"/>
		</svg>
    </a>
        {% else %}
	<a class="button" href="{{path('app_login')}}">Connexion</a>
            
	{% endif %}


</header>
