<section>
	<div class="entete-container">
		<h1>{{article.titre}}</h1>
		<p class="second-text">{{article.resume}}</p>
		<div class='tag-container'>
			{% for tag in article.tags %}
				{% include "tag/index.html.twig" %}
			{% endfor %}
		</div>
		<p class="second-text publish">Publié le
			{{ article.date|date('d/m/Y') }}
		</p>
	</div>
	<img src="{{asset(article.image)}}" alt="" >
	<p class='contenue'>{{article.contenue}}</p>
	<div class="social-container">
		<div class="like-view-container">
			<button class='inter-container like-button-article' data-article-id="{{article.id}}" >
				<svg xmlns="http://www.w3.org/2000/svg" width="22" height="20" viewbox="0 0 22 20" fill="none">
					<path class="{% if article.getUtilisateurs().contains(app.user) %}like{% endif %}" d="M11 3.13916L10.447 3.66716C10.5917 3.81629 10.7914 3.90056 11 3.90056C11.2086 3.90056 11.4083 3.81629 11.553 3.66716L11 3.13916ZM8.36619 16.1552C6.81528 14.9422 5.11942 13.7577 3.77406 12.2547C2.45502 10.7811 1.53488 9.06164 1.53488 6.83087H0C0 9.53685 1.13633 11.6012 2.62641 13.2658C4.09019 14.9011 5.95614 16.2093 7.41597 17.3511L8.36619 16.1552ZM1.53488 6.83087C1.53488 4.64733 2.77852 2.81622 4.47609 2.04637C6.12528 1.29847 8.34123 1.49654 10.447 3.66716L11.553 2.61116C9.05428 0.0356197 6.15395 -0.388861 3.83799 0.661423C1.5704 1.68977 0 4.0776 0 6.83087H1.53488ZM7.41597 17.3511C7.94011 17.761 8.50279 18.1981 9.073 18.5287C9.64306 18.8591 10.2935 19.1277 11 19.1277V17.605C10.6832 17.605 10.3104 17.4824 9.8474 17.2139C9.38459 16.9456 8.90445 16.5762 8.36619 16.1552L7.41597 17.3511ZM14.5841 17.3511C16.0438 16.2093 17.9098 14.9011 19.3736 13.2658C20.8637 11.6012 22 9.53685 22 6.83087H20.4651C20.4651 9.06164 19.545 10.7811 18.2259 12.2547C16.8806 13.7577 15.1847 14.9422 13.6339 16.1552L14.5841 17.3511ZM22 6.83087C22 4.0776 20.4296 1.68977 18.162 0.661423C15.846 -0.388861 12.9457 0.0356197 10.447 2.61116L11.553 3.66716C13.6587 1.49654 15.8747 1.29847 17.5239 2.04637C19.2215 2.81622 20.4651 4.64733 20.4651 6.83087H22ZM13.6339 16.1552C13.0955 16.5762 12.6154 16.9456 12.1526 17.2139C11.6896 17.4824 11.3168 17.605 11 17.605V19.1277C11.7065 19.1277 12.3569 18.8591 12.927 18.5287C13.4973 18.1981 14.0598 17.761 14.5841 17.3511L13.6339 16.1552Z" fill="#FFFFFF"/>
				</svg>
				<p class='like-count'>{{article.utilisateurs.count()}}</p>
			</button>
			<div class='inter-container'>
				<svg xmlns="http://www.w3.org/2000/svg" width="27" height="20" viewbox="0 0 27 20" fill="none">
					<path d="M13.3428 4.64611C16.0632 4.64611 18.2685 6.85142 18.2685 9.57181C18.2685 12.2922 16.0632 14.4975 13.3428 14.4975C10.6224 14.4975 8.41708 12.2922 8.41708 9.57181C8.41708 6.85142 10.6224 4.64611 13.3428 4.64611Z" stroke="#FFFFFF" stroke-width="2"/>
					<path d="M24.8661 11.0716C25.4124 10.4083 25.6856 10.0768 25.6856 9.57181C25.6856 9.06685 25.4124 8.73528 24.8661 8.072C22.8675 5.64546 18.4595 1.12774 13.3428 1.12774C8.22606 1.12774 3.81797 5.64546 1.81941 8.072C1.27314 8.73528 1 9.06685 1 9.57181C1 10.0768 1.27314 10.4083 1.81941 11.0716C3.81797 13.4981 8.22606 18.0159 13.3428 18.0159C18.4595 18.0159 22.8675 13.4981 24.8661 11.0716Z" stroke="#FFFFFF" stroke-width="2"/>
				</svg>
				<p>{{article.vue}}
					vues</p>
			</div>
		</div>
		<button class="inter-container">
			<svg width="24" height="28" viewbox="0 0 24 28" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path id="Vector" fill-rule="evenodd" clip-rule="evenodd" d="M14.1666 4.58333C14.1666 2.05202 16.228 0 18.7708 0C21.3136 0 23.375 2.05202 23.375 4.58333C23.375 7.11463 21.3136 9.16667 18.7708 9.16667C17.4868 9.16667 16.3265 8.64319 15.4923 7.80102L9.11859 12.1406C9.17744 12.4334 9.20837 12.7359 9.20837 13.0449C9.20837 13.6568 9.08737 14.2417 8.86819 14.7763L15.8569 19.368C16.6501 18.7221 17.665 18.3333 18.7708 18.3333C21.3136 18.3333 23.375 20.3853 23.375 22.9167C23.375 25.4479 21.3136 27.5 18.7708 27.5C16.228 27.5 14.1666 25.4479 14.1666 22.9167C14.1666 22.2537 14.3085 21.6226 14.5636 21.0528L7.63135 16.4982C6.82269 17.201 5.76345 17.6282 4.60416 17.6282C2.06136 17.6282 0 15.5761 0 13.0449C0 10.5136 2.06136 8.46154 4.60416 8.46154C6.06636 8.46154 7.36798 9.13997 8.21074 10.1959L14.3879 5.99008C14.2442 5.54619 14.1666 5.0732 14.1666 4.58333Z" fill="#7f5af0"/>
			</svg>
		</button>
	</div>
	<div class="commentaire-form">
		<p>Commentaire</p>
		{{form_start(form)}}
		{{form_row(form.contenue,{'attr': {'class':'form-contenue', 'placeholder':'écrivez un commentaire'}})}}
		{{form_widget(form.save, {'attr':{'class':'form-button'}})}}
		{{form_end(form)}}
	</div>
	<div class="commentaires-wrapper">
		{% for commentaire in commentaires %}
			<div class="commentaire-container">
				<div class="second-text-container">
					<p>{{commentaire.idUser.email}}<p/></p>
					<p>{{ commentaire.date|date('d/m/Y H:i:s') }}</p>
				</div>
				<div>
					<p>{{commentaire.contenue}}</p>
					<button class="like-button-commentaire" data-comment-id="{{commentaire.id}}">
						<p class='like-count'>{{ commentaire.utilisateurs.count() }}</p>
						<svg class='like-svg' xmlns="http://www.w3.org/2000/svg" width="22" height="20" viewbox="0 0 22 20" fill="#FFDD00">
							<path class="{% if commentaire.getUtilisateurs().contains(app.user) %}like{% endif %}"d="M11 3.13916L10.447 3.66716C10.5917 3.81629 10.7914 3.90056 11 3.90056C11.2086 3.90056 11.4083 3.81629 11.553 3.66716L11 3.13916ZM8.36619 16.1552C6.81528 14.9422 5.11942 13.7577 3.77406 12.2547C2.45502 10.7811 1.53488 9.06164 1.53488 6.83087H0C0 9.53685 1.13633 11.6012 2.62641 13.2658C4.09019 14.9011 5.95614 16.2093 7.41597 17.3511L8.36619 16.1552ZM1.53488 6.83087C1.53488 4.64733 2.77852 2.81622 4.47609 2.04637C6.12528 1.29847 8.34123 1.49654 10.447 3.66716L11.553 2.61116C9.05428 0.0356197 6.15395 -0.388861 3.83799 0.661423C1.5704 1.68977 0 4.0776 0 6.83087H1.53488ZM7.41597 17.3511C7.94011 17.761 8.50279 18.1981 9.073 18.5287C9.64306 18.8591 10.2935 19.1277 11 19.1277V17.605C10.6832 17.605 10.3104 17.4824 9.8474 17.2139C9.38459 16.9456 8.90445 16.5762 8.36619 16.1552L7.41597 17.3511ZM14.5841 17.3511C16.0438 16.2093 17.9098 14.9011 19.3736 13.2658C20.8637 11.6012 22 9.53685 22 6.83087H20.4651C20.4651 9.06164 19.545 10.7811 18.2259 12.2547C16.8806 13.7577 15.1847 14.9422 13.6339 16.1552L14.5841 17.3511ZM22 6.83087C22 4.0776 20.4296 1.68977 18.162 0.661423C15.846 -0.388861 12.9457 0.0356197 10.447 2.61116L11.553 3.66716C13.6587 1.49654 15.8747 1.29847 17.5239 2.04637C19.2215 2.81622 20.4651 4.64733 20.4651 6.83087H22ZM13.6339 16.1552C13.0955 16.5762 12.6154 16.9456 12.1526 17.2139C11.6896 17.4824 11.3168 17.605 11 17.605V19.1277C11.7065 19.1277 12.3569 18.8591 12.927 18.5287C13.4973 18.1981 14.0598 17.761 14.5841 17.3511L13.6339 16.1552Z" fill="#FFFFFF"/>
						</svg>
					</button>
				</div>
			</div>
		{% endfor %}
	</div>
</section>
