<section>
	<div class="card-container">
		<img src="{{asset(article.image)}}" alt="">
		<div class="containt">
			<div class="containt-start">
				<div class="tag-container">
					{% for tag in article.tags %}
						{% include "tag/index.html.twig" %}
					{% endfor %}
				</div>
				<h2>{{article.titre}}</h2>
				<p class="second-text">{{article.resume}}</p>
			</div>
			<div class="containt-end">
				<p class="second-text publish">Publié le {{ article.date|date('d/m/Y') }}</p>
				<div class="inters-container">
					<div class='inter-container'>
						<svg xmlns="http://www.w3.org/2000/svg" width="22" height="20" viewbox="0 0 22 20" fill="none">
							<path d="M11 3.13916L10.447 3.66716C10.5917 3.81629 10.7914 3.90056 11 3.90056C11.2086 3.90056 11.4083 3.81629 11.553 3.66716L11 3.13916ZM8.36619 16.1552C6.81528 14.9422 5.11942 13.7577 3.77406 12.2547C2.45502 10.7811 1.53488 9.06164 1.53488 6.83087H0C0 9.53685 1.13633 11.6012 2.62641 13.2658C4.09019 14.9011 5.95614 16.2093 7.41597 17.3511L8.36619 16.1552ZM1.53488 6.83087C1.53488 4.64733 2.77852 2.81622 4.47609 2.04637C6.12528 1.29847 8.34123 1.49654 10.447 3.66716L11.553 2.61116C9.05428 0.0356197 6.15395 -0.388861 3.83799 0.661423C1.5704 1.68977 0 4.0776 0 6.83087H1.53488ZM7.41597 17.3511C7.94011 17.761 8.50279 18.1981 9.073 18.5287C9.64306 18.8591 10.2935 19.1277 11 19.1277V17.605C10.6832 17.605 10.3104 17.4824 9.8474 17.2139C9.38459 16.9456 8.90445 16.5762 8.36619 16.1552L7.41597 17.3511ZM14.5841 17.3511C16.0438 16.2093 17.9098 14.9011 19.3736 13.2658C20.8637 11.6012 22 9.53685 22 6.83087H20.4651C20.4651 9.06164 19.545 10.7811 18.2259 12.2547C16.8806 13.7577 15.1847 14.9422 13.6339 16.1552L14.5841 17.3511ZM22 6.83087C22 4.0776 20.4296 1.68977 18.162 0.661423C15.846 -0.388861 12.9457 0.0356197 10.447 2.61116L11.553 3.66716C13.6587 1.49654 15.8747 1.29847 17.5239 2.04637C19.2215 2.81622 20.4651 4.64733 20.4651 6.83087H22ZM13.6339 16.1552C13.0955 16.5762 12.6154 16.9456 12.1526 17.2139C11.6896 17.4824 11.3168 17.605 11 17.605V19.1277C11.7065 19.1277 12.3569 18.8591 12.927 18.5287C13.4973 18.1981 14.0598 17.761 14.5841 17.3511L13.6339 16.1552Z" fill="#94A1B2"/>
						</svg>
						<p>{{article.likeArticle}} likes</p>
					</div>
					<div class='inter-container'>
						<svg xmlns="http://www.w3.org/2000/svg" width="27" height="20" viewbox="0 0 27 20" fill="none">
							<path d="M13.3428 4.64611C16.0632 4.64611 18.2685 6.85142 18.2685 9.57181C18.2685 12.2922 16.0632 14.4975 13.3428 14.4975C10.6224 14.4975 8.41708 12.2922 8.41708 9.57181C8.41708 6.85142 10.6224 4.64611 13.3428 4.64611Z" stroke="#94A1B2" stroke-width="2"/>
							<path d="M24.8661 11.0716C25.4124 10.4083 25.6856 10.0768 25.6856 9.57181C25.6856 9.06685 25.4124 8.73528 24.8661 8.072C22.8675 5.64546 18.4595 1.12774 13.3428 1.12774C8.22606 1.12774 3.81797 5.64546 1.81941 8.072C1.27314 8.73528 1 9.06685 1 9.57181C1 10.0768 1.27314 10.4083 1.81941 11.0716C3.81797 13.4981 8.22606 18.0159 13.3428 18.0159C18.4595 18.0159 22.8675 13.4981 24.8661 11.0716Z" stroke="#94A1B2" stroke-width="2"/>
						</svg>
						<p>{{article.vue}} vues</p>
					</div>
					<div class='inter-container'>
						<svg xmlns="http://www.w3.org/2000/svg" width="20" height="22" viewbox="0 0 20 22" fill="none">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M17.2 1.12797H2.8C2.32975 1.12035 1.87591 1.31031 1.53833 1.65607C1.20075 2.00181 1.00711 2.47501 1 2.97152V14.0247C1.00711 14.5212 1.20075 14.9944 1.53833 15.3402C1.87591 15.6858 2.32975 15.8759 2.8 15.8683H7.77571C8.05613 15.8666 8.33307 15.9326 8.58571 16.061L15.8513 20.1337L15.7857 14.0247H17.6243C18.3708 14.0368 18.986 13.4091 19 12.621V2.97152C18.9929 2.47501 18.7993 2.00181 18.4617 1.65607C18.124 1.31031 17.6702 1.12035 17.2 1.12797Z" stroke="#94A1B2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M4.85714 5.5401C4.32458 5.5401 3.89285 5.99595 3.89285 6.55826C3.89285 7.12058 4.32458 7.57642 4.85714 7.57642V5.5401ZM15.1429 7.57642C15.6754 7.57642 16.1071 7.12058 16.1071 6.55826C16.1071 5.99595 15.6754 5.5401 15.1429 5.5401V7.57642ZM4.85714 9.61269C4.32458 9.61269 3.89285 10.0685 3.89285 10.6308C3.89285 11.1933 4.32458 11.649 4.85714 11.649V9.61269ZM12.5714 11.649C13.104 11.649 13.5357 11.1933 13.5357 10.6308C13.5357 10.0685 13.104 9.61269 12.5714 9.61269V11.649ZM4.85714 7.57642H15.1429V5.5401H4.85714V7.57642ZM4.85714 11.649H12.5714V9.61269H4.85714V11.649Z" fill="#94A1B2"/>
						</svg>
						<p>{{article.vue|length}} commentaires</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>